* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    opacity: 0;
    background-color: #0A1117;
    font-family: "Montserrat", Arial;
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.page-margins {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.h1-name {
    color: white;
    margin-right: 200px;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}

.h1-name:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #0A1117;
    padding: 10px;
    margin-top: 20px;
}

.nav-buttons {
    margin-right: 200px;
}

.home-button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.25s ease, background-color 0.25s ease, border-radius 0.25s ease;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.home-button:hover {
    background-color: #3f4a55;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.1);
}

.learn-button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease, border-radius 0.2s ease;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.learn-button:hover {
    background-color: #3f4a55;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.1);
}

.about-button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease, border-radius 0.2s ease;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.about-button:hover {
    background-color: #3f4a55;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.1);
}

.contact-button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease, border-radius 0.2s ease;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.contact-button:hover {
    background-color: #3f4a55;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.1);
}

.login-button {
    border: none;
    background-color: #243241;
    color: white;
    padding: 8px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.284));
    transition: transform 0.25s ease, background-color 0.25s ease, border-radius 0.25s ease;
    font-size: 20px;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.login-button:hover {
    background-color: #3f4a55;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.525));
}

nav button:hover {
    background-color: #3f4a55;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.main-title-tekst {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Lato", Arial;
    max-width: 600px;
    font-size: 70px;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
}

.goose-pink {
    color:#ffa7b5
}

.hero-bio {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
}

.get-started-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    background-color: #CEAAFF;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    font-weight: bold;
    filter: drop-shadow(0px 1px 15px #ffd50062);
    transition: transform 0.25s ease, drop-shadow 0.25s ease, background-color 0.25s ease;
    text-decoration: none;
    color: rgb(74, 24, 121);
}

.get-started-button:hover {
    cursor: pointer;
    background-color: #dec7ff;
    transform: scale(1.1);
    filter: drop-shadow(0px 1px 15px #ffd50091);
    border-radius: 10px;
}

.arrows-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    width: 75px;
    color: #F78787
}

.stars-img {
    display: flex;
    align-items: left;
    justify-content: center;
    margin: auto;
    width: 200px;
}

.h1-section1-text {
    color: white;
    font-family: "Lato", Arial;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 0px;
    font-size: 50px;
}

.labels {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 80px auto;
    max-width: 800px;
    flex-wrap: wrap;
}

.label-invest {
    background-color:#182632;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    color: #FFB4D3;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}

.label-invest:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-startup {
    background-color:#182632;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    color: #FFC24C;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}

.label-startup:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-service {
    background-color:#182632;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    color: #D387F7;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}

.label-service:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-community {
    background-color:#182632;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    color: #77E6FF;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}

.label-community:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-impact {
    background-color:#182632;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    color: #23C9DE;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}

.label-impact:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-deFi {
    background-color:#182632;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    color: #FF9E9E;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}

.label-deFi:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-more {
    background-color:#182632;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    color: #707F8D;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}

.label-more:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.projects-img {
    display: block;
    margin: 80px auto;
    border-radius: 35px;
    max-width: 80%;
    position: relative;
    z-index: 1;
}

.projects {
    width: min(900px, 100%);
    margin: 0 auto;
    transition: transform 0.8s ease;
}

.projects:hover {
    transform: scale(1.15);
}

.projects-superdoa {
    background-color: #FFB4D3;
    border-radius: 100px;
    padding: 12px;
    font-weight: bold;
    border: 5px solid #0A1117;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 360px;
    position: relative;
    z-index: 2;
    margin-top: -105px;
    transition: background-color 0.2s ease;
}

.projects-superdoa:hover {
    background-color: #fed2e4;
}

.backlight {
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1500px;
    height: 1500px;
    margin-top: -1000px;
    background: radial-gradient(
        circle,
        rgba(170, 184, 255, 0.25) 0%,
        rgba(170, 170, 255, 0) 50%
    );
    filter: blur(20px);
    pointer-events: none;
    z-index: -1;
}

.the-journey {
    margin-top: -300px;
    font-family: "Lato", Arial;
    font-weight: bold;
    font-size: 300%;
}

.designed-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    color: #E5E5E5;
}

.organization-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 50px;
    color: #37424D;
    transition: color 0.1s ease;
}

.organization-sentence:hover {
    color: #ffffff;
}

.smart-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 50px;
    color: #37424D;
    transition: color 0.1s ease;
}

.smart-sentence:hover {
    color: #ffffff;
}

.fundraising-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 50px;
    color: #37424D;
    transition: color 0.1s ease;
}

.fundraising-sentence:hover {
    color: #ffffff;
}

.launch-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 50px;
    color: #FFB4D3;
}

.member-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 50px;
    color: #37424D;
    transition: color 0.1s ease;
}

.member-sentence:hover {
    color: #ffffff;
}

.contributor-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 50px;
    color: #37424D;
    transition: color 0.1s ease;
}

.contributor-sentence:hover {
    color: #ffffff;
}

.goose-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 50px;
    color: #37424D; 
    transition: color 0.1s ease;
}

.goose-sentence:hover {
    color: #ffffff;
}

.footer-box {
    background-color: #121E28;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 0;
}

.about-button-ft {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 8px;
}

.jobs-button-ft {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 8px;
}

.legal-button-ft {
    border: none;
    background-color: transparent;
    color: #FFC803;
    font-weight: bold;
    font-size: large;
    padding: 8px;
}

.socials {
    margin: 5%;
}

.all-social-icons img {
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    width: 42px;
    height: 42px;
}

.x-img img {
    background-color: #77e6ff5b;
    ;
}

.msg-img img {
    background-color: #7795ff54;
}

.yt-img img {
    background-color: #f787875d;
}

.dc-img img {
    background-color: #9277ff5e;
}