* {
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    opacity: 0;
    background-color: #0A1117;
    font-family: "Montserrat", Arial;
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.page-margins {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.h1-name {
    color: white;
    margin-right: 200px;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}

.h1-name:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #0A1117;
    padding: 10px;
    margin-top: 20px;
}

.nav-buttons {
    margin-right: 200px;
}

.home-button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.25s ease, background-color 0.25s ease;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.home-button:hover {
    background-color: #3f4a55;
    cursor: pointer;
    transform: scale(1.1);
}

.learn-button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.25s ease, background-color 0.25s ease;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.learn-button:hover {
    background-color: #3f4a55;
    cursor: pointer;
    transform: scale(1.1);
}

.about-button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.25s ease, background-color 0.25s ease;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.about-button:hover {
    background-color: #3f4a55;
    cursor: pointer;
    transform: scale(1.1);
}

.contact-button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.25s ease, background-color 0.25s ease;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.contact-button:hover {
    background-color: #3f4a55;
    cursor: pointer;
    transform: scale(1.1);
}

.login-button {
    border: none;
    background-color: #243241;
    color: white;
    padding: 8px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    filter: drop-shadow(0px 0px 25px #ffffff48);
    transition: transform 0.25s ease, background-color 0.25s ease, drop-shadow 0.25s ease;
    font-size: 20px;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.login-button:hover {
    background-color: #3f4a55;
    cursor: pointer;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 20px #ffffff86);
}

.main-title-tekst {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Lato", Arial;
    max-width: 600px;
    font-size: 70px;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
}

.goose-pink {
    color:#ffa7b5
}

.hero-bio {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
}

.get-started-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    background-color: #CEAAFF;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    font-weight: bold;
    filter: drop-shadow(0px 1px 15px #ffd50062);
    transition: transform 0.25s ease, drop-shadow 0.25s ease, background-color 0.25s ease;
    text-decoration: none;
    color: #4a1879;
}

.get-started-button:hover {
    cursor: pointer;
    background-color: #dec7ff;
    transform: scale(1.1);
    filter: drop-shadow(0px 1px 15px #ffd50091);
}

.arrows-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    width: 75px;
    color: #F78787
}

.h2-section1-text {
    color: white;
    font-family: "Lato", Arial;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 0px;
    font-size: 50px;
}

.DAO-labels-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 80px auto;
    max-width: 800px;
    flex-wrap: wrap;
}

.labels {
    background-color:#182632;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}

.label-invest {
    color: #FFB4D3;
}

.label-invest:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-startup {
    color: #FFC24C;
}

.label-startup:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-service {
    color: #D387F7;
}

.label-service:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-community {
    color: #77E6FF;
}

.label-community:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-impact {
    color: #23C9DE;
}

.label-impact:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-deFi {
    color: #FF9E9E;
}

.label-deFi:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.label-more {
    color: #707F8D;
}

.label-more:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
}

.projects-img {
    display: block;
    margin: 80px auto;
    border-radius: 35px;
    max-width: 60%;
    position: relative;
    z-index: 1;
}

.projects {
    transition: transform 0.8s ease;
}

.projects:hover {
    transform: scale(1.15);
}

.projects-superdoa {
    background-color: #FFB4D3;
    border-radius: 100px;
    padding: 12px;
    font-weight: bold;
    border: 5px solid #0A1117;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 360px;
    position: relative;
    z-index: 2;
    margin-top: -105px;
    transition: background-color 0.2s ease;
}

.projects-superdoa:hover {
    background-color: #fed2e4;
}

.backlight-superdoa {
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1500px;
    height: 1500px;
    margin-top: -1000px;
    background: radial-gradient(
        circle,
        #5d6cb821 0%,
        #4949b500 50%
    );
    z-index: -1;
}

.the-journey {
    margin-top: -300px;
    font-family: "Lato", Arial;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
}

.sentences {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 50px;
    color: #37424D;
    transition: color 0.1s ease;
}

.sentences:hover {
    color: white;
}

.designed-sentence {
    color: #E5E5E5;
}

.launch-sentence {
    color: #FFB4D3;
}

.works-with {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 250px;
    color: white;
    font-family: "Lato", Arial;
    font-size: 50px;
}

.backlight-blocks {
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1500px;
    height: 1500px;
    margin-top: -550px;
    background: radial-gradient(
        circle,
        #5d6cb821 0%,
        #4949b500 50%
    );
    z-index: -1;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -950px;
    color: white;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.block-item {
    /* text-align: center; */
}

.block {
    background-color: #121E28;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    border: 2px solid #2A3744;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.block:hover {
    background-color:#3f4a55;
    transform: scale(1.1);
    border: 2px solid #677584;
}

.block-label {
    width: 100%;
    min-height: 48px;
    margin: 12px 0 0;
    font-size: 20px;
    color: white;
}

.footer-box {
    background-color: #121E28;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: -50px;
    margin-left: -30px;
    margin-right: -30px;
}

.footer-button {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: large;
    padding: 12px;
    margin: 5px;
    display: inline-block;
    transition: transform 0.25s ease, background-color 0.25s ease;
    text-decoration: none;
    color: white;
}

.footer-button:hover {
    cursor: pointer;
    background-color: #3f4a55;
    transform: scale(1.1);
}

.legal-button-ft {
    color: #FFC803;
}

.socials {
    margin: 5%;
}

.all-social-icons img {
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    width: 42px;
    height: 42px;
    transition: transform 0.3s ease, background-color 0.25s ease;
}

.x-img img {
    background-color: #77e6ff5b;
}

.x-img img:hover {
    transform: scale(1.25);
    background-color: #9eedffa8;
}

.msg-img img {
    background-color: #7795ff54;
}

.msg-img img:hover {
    transform: scale(1.25);
    background-color: #9db2ffaf;
}

.yt-img img {
    background-color: #f787875d;
}

.yt-img img:hover {
    transform: scale(1.25);
    background-color: #fe9f9fb0;
}

.dc-img img {
    background-color: #9277ff5e;
}

.dc-img img:hover {
    transform: scale(1.25);
    background-color: #b19effae;
}
